<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find majager_description)/urdf/majager.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find majager_description)/launch/urdf.rviz"/>
          
</launch>
