<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find kuka_kr20_description)/worlds/tryout.world"/-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find majager_description)/urdf/majager.xacro'" />
  <!-- Spawn the robot model -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model majager"/>

</launch>

