<?xml version="1.0" ?>
<robot name="majager" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find majager_description)/urdf/materials.xacro" />
<xacro:include filename="$(find majager_description)/urdf/majager.gazebo" />
<xacro:include filename="$(find majager_description)/urdf/links_joints.xacro" />

<!-- World frame (for Gazebo) -->
<link name="world"/>

<!-- Arm fixed to world frame  -->
<joint name="world__base_link" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
</joint>

<xacro:m_link_mesh name="base_link" color="Black"
            masa_xyz="-7.27871988543638e-17 -0.02273468938091713 0.1584993182077695"
            origin_rpy="0 0 0" origin_xyz="0 0 0"
            mass="351.2471728207797"
            ixx="7.803246" ixy="0" ixz="0"
            iyy="6.469342" iyz="0"
            izz="7.933037"
            meshfile="package://majager_description/meshes/base_link.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_to_Link1" type="continuous"
         axis_xyz="-0.0 -0.0 1.0"
         origin_rpy="0 0 0" origin_xyz="0.0 0.0 0.33"
         parent="base_link" child="Link1"
         limit_e="1000" limit_v="100" />

<xacro:m_link_mesh name="Link1" color="Yellow"
            masa_xyz="-0.0275734684963597 0.06463058511270427 0.1919569713828692"
            origin_rpy="0 0 0" origin_xyz="0.0 0.0 -0.33"
            mass="29.25589231378838"
            ixx="0.860957" ixy="0.109201" ixz="0.046823"
            iyy="0.472566" iyz="-0.192909"
            izz="0.790961"
            meshfile="package://majager_description/meshes/Link1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link1_to_Link2" type="revolute"
         axis_xyz="1.0 0.0 0.0"
         origin_rpy="0.5235987756 0 0" origin_xyz="0.09 0.2 0.25"
         parent="Link1" child="Link2"
         limit_e="1800" limit_l="-3.3161255" limit_u="1.3963" limit_v="100" />

<xacro:m_link_mesh name="Link2" color="Yellow"
            masa_xyz="0.09726349208609184 -7.747823879689086e-08 0.39994472274705517"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.2 -0.58"
            mass="5.175295240186376"
            ixx="0.572117" ixy="0" ixz="0"
            iyy="0.55959" iyz="0"
            izz="0.037699"
            meshfile="package://majager_description/meshes/Link2.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link2_to_Link3" type="revolute"
         axis_xyz="1.0 -0.0 0.0"
         origin_rpy="-0.5235987756 0 0" origin_xyz="0.0 0.0 0.8"
         parent="Link2" child="Link3"
         limit_e="1800" limit_l="-0.7" limit_u="4.2" limit_v="100" />

<xacro:m_link_mesh name="Link3" color="Yellow"
            masa_xyz="-0.12519535589673209 -0.02905590122454929 0.059401308413663534"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.2 -1.38"
            mass="15.902435778204415"
            ixx="0.269239" ixy="0.016553" ixz="-0.03218"
            iyy="0.14774" iyz="0.033913"
            izz="0.247555"
            meshfile="package://majager_description/meshes/Link3.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link3_to_Link4" type="continuous"
         axis_xyz="0.0 1.0 0.0"
         origin_rpy="0 0 0" origin_xyz="-0.09 0.35 0.13"
         parent="Link3" child="Link4"
         limit_e="1000" limit_v="100" />

<xacro:m_link_mesh name="Link4" color="Black"
            masa_xyz="-0.08192591529483385 0.19226404383801765 4.2792880350361884e-11"
            origin_rpy="0 0 0" origin_xyz="-0.0 -0.55 -1.51"
            mass="2.8861809279418695"
            ixx="0.0077916" ixy="0.02036" ixz="-0.0"
            iyy="0.031998" iyz="-0.0"
            izz="0.089076"
            meshfile="package://majager_description/meshes/Link4.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link4_to_Link5" type="revolute"
         axis_xyz="1.0 -0.0 0.0"
         origin_rpy="0 0 0" origin_xyz="-0.085 0.415 0.0"
         parent="Link4" child="Link5"
         limit_e="1200" limit_l="-0.87266" limit_u="4.01426" limit_v="100" />

<xacro:m_link_mesh name="Link5" color="Yellow"
            masa_xyz="0.08477420379133487 -0.036817798535212276 -0.01862859141930162"
            origin_rpy="0 0 0" origin_xyz="0.085 -0.965 -1.51"
            mass="5.9471473107769315"
            ixx="0.033169" ixy="4.9e-05" ixz="2.5e-05"
            iyy="0.039749" iyz="0.00361"
            izz="0.021858"
            meshfile="package://majager_description/meshes/Link5.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link5_to_Link6" type="prismatic"
         axis_xyz="0.0 -0.0 -1.0"
         origin_rpy="0 0 0" origin_xyz="0.085 0.0 -0.25"
         parent="Link5" child="Link6"
         limit_e="1000" limit_l="0.0" limit_u="0.3" limit_v="100" />

<xacro:m_link_mesh name="Link6" color="Black"
            masa_xyz="-8.673419762010937e-14 5.662137425588298e-15 0.21219328597913867"
            origin_rpy="0 0 0" origin_xyz="0.0 -0.965 -1.26"
            mass="0.9636110699461493"
            ixx="0.031385" ixy="0" ixz="0.0"
            iyy="0.031385" iyz="0"
            izz="0.000996"
            meshfile="package://majager_description/meshes/Link6.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link6_to_Base_Gripper" type="continuous"
         axis_xyz="-0.0 -0.0 -1.0"
         origin_rpy="0 0 0" origin_xyz="0.0 0.0 -0.03"
         parent="Link6" child="Base_Gripper"
         limit_e="1000" limit_v="100" />

<xacro:m_link_mesh name="Base_Gripper" color="Black"
              masa_xyz="-1.309810703716444e-16 -8.215650382226158e-15 -0.014382845951966372"
              origin_rpy="0 0 0" origin_xyz="0.0 -0.965 -1.23"
              mass="1.1700579922254057"
              ixx="0.000268" ixy="0" ixz="0"
              iyy="0.003233" iyz="0"
              izz="1"
              meshfile="package://majager_description/meshes/Base_Gripper.stl"
              meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_Gripper_to_Gripper_Right" type="prismatic"
         axis_xyz="1.0 -0.0 -0.0"
         origin_rpy="0 0 0" origin_xyz="-0.09 0.0 -0.0225"
         parent="Base_Gripper" child="Gripper_Right"
         limit_e="1000" limit_l="0.0" limit_u="0.065" limit_v="100" />

<xacro:m_link_mesh name="Gripper_Right" color="Grey"
            masa_xyz="0.012095808747128123 -2.786659791809143e-14 -0.03856287422397031"
            origin_rpy="0 0 0" origin_xyz="0.09 -0.965 -1.2075"
            mass="0.6554750004678966"
            ixx="0.00044" ixy="-0.0" ixz="3e-05"
            iyy="0.000397" iyz="-0.0"
            izz="0.000125"
            meshfile="package://majager_description/meshes/Gripper_Right.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_Gripper_to_Gripper_Left" type="prismatic"
         axis_xyz="-1.0 0.0 0.0"
         origin_rpy="0 0 0" origin_xyz="0.09 0.0 -0.0225"
         parent="Base_Gripper" child="Gripper_Left"
         limit_e="1000" limit_l="0.00" limit_u="0.065" limit_v="100" />

<xacro:m_link_mesh name="Gripper_Left" color="Grey"
            masa_xyz="-0.012095808747128373 8.992806499463768e-15 -0.03856287422397009"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.965 -1.2075"
            mass="0.6554750004678964"
            ixx="0.00044" ixy="0" ixz="-3e-05"
            iyy="0.000397" iyz="0"
            izz="0.000125"
            meshfile="package://majager_description/meshes/Gripper_Left.stl"
            meshscale="0.001 0.001 0.001" />

</robot>