<?xml version="1.0" ?>
<robot name="majager" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find majager_description)/urdf/materials.xacro" />
<xacro:include filename="$(find majager_description)/urdf/majager.gazebo" />
<xacro:include filename="$(find majager_description)/urdf/links_joints.xacro" />

<!-- World frame (for Gazebo) -->
<link name="world"/>

<!-- Arm fixed to world frame  -->
<joint name="world__base_link" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
</joint>

<xacro:m_link_mesh name="base_link" color="Black"
            masa_xyz="-7.089415568373423e-17 -0.022734689380917134 0.15849931820776944"
            origin_rpy="0 0 0" origin_xyz="0 0 0"
            mass="351.2471728207797"
            ixx="7.803246" ixy="0" ixz="0"
            iyy="6.469342" iyz="0"
            izz="7.933037"
            meshfile="package://majager_description/meshes/base_link.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_to_Link1" type="continuous"
         axis_xyz="-0.0 -0.0 1.0"
         origin_rpy="0 0 0" origin_xyz="0.0 0.0 0.33"
         parent="base_link" child="Link1_1"
         limit_e="100" limit_v="100" />

<xacro:m_link_mesh name="Link1_1" color="Yellow"
            masa_xyz="0.010990144273109063 0.0882068365110577 0.13577480191631508"
            origin_rpy="0 0 0" origin_xyz="0.0 0.0 -0.33"
            mass="5.52547968640361"
            ixx="3.160703" ixy="-0.14808" ixz="-0.151302"
            iyy="1.945221" iyz="-1.098862"
            izz="2.215367"
            meshfile="package://majager_description/meshes/Link1_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link1_to_Link2" type="revolute"
         axis_xyz="1.0 0.0 0.0"
         origin_rpy="0.5235987756 0 0" origin_xyz="0.09 0.2 0.25"
         parent="Link1_1" child="Link2_1"
         limit_e="100" limit_l="-3.3161255" limit_u="1.3963" limit_v="100" />

<xacro:m_link_mesh name="Link2_1" color="Yellow"
            masa_xyz="0.0953874109671839 -1.1102230246251565e-14 0.3999420840487563"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.2 -0.58"
            mass="5.82400607636134"
            ixx="16.907224" ixy="0" ixz="0"
            iyy="16.692266" iyz="0"
            izz="0.659521"
            meshfile="package://majager_description/meshes/Link2_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link2_to_Link3" type="revolute"
         axis_xyz="1.0 -0.0 0.0"
         origin_rpy="-0.5235987756 0 0" origin_xyz="0.0 0.0 0.8"
         parent="Link2_1" child="Link3_1"
         limit_e="100" limit_l="-0.7" limit_u="4.2" limit_v="100" />

<xacro:m_link_mesh name="Link3_1" color="Yellow"
            masa_xyz="-0.08225410153755812 0.09831042517527713 0.08665205846011848"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.2 -1.38"
            mass="2.14016041688751"
            ixx="4.813544" ixy="0.160871" ixz="0.096164"
            iyy="0.718651" iyz="-0.721581"
            izz="4.447232"
            meshfile="package://majager_description/meshes/Link3_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link3_to_Link4" type="continuous"
         axis_xyz="0.0 1.0 0.0"
         origin_rpy="0 0 0" origin_xyz="-0.09 0.35 0.13"
         parent="Link3_1" child="Link4_1"
         limit_e="100" limit_v="100" />

<xacro:m_link_mesh name="Link4_1" color="Black"
            masa_xyz="-0.01381923652259904 0.1126422845962809 1.5576813499063036e-06"
            origin_rpy="0 0 0" origin_xyz="-0.0 -0.55 -1.51"
            mass="2.036896395207224"
            ixx="0.061572" ixy="0.010471" ixz="-0.0"
            iyy="0.018205" iyz="-1e-06"
            izz="0.067201"
            meshfile="package://majager_description/meshes/Link4_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link4_to_Link5" type="revolute"
         axis_xyz="1.0 -0.0 0.0"
         origin_rpy="0 0 0" origin_xyz="-0.085 0.415 0.0"
         parent="Link4_1" child="Link5_1"
         limit_e="100" limit_l="-0.87266" limit_u="4.01426" limit_v="100" />

<xacro:m_link_mesh name="Link5_1" color="Yellow"
            masa_xyz="-0.02715869025322588 -5.218048215738236e-15 -0.08759357763589937"
            origin_rpy="0 0 0" origin_xyz="0.085 -0.965 -1.51"
            mass="1.83303077561953"
            ixx="0.167562" ixy="0" ixz="-0.016099"
            iyy="0.227483" iyz="0"
            izz="0.091889"
            meshfile="package://majager_description/meshes/Link5_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link5_to_Link6" type="prismatic"
         axis_xyz="0.0 -0.0 -1.0"
         origin_rpy="0 0 0" origin_xyz="0.085 0.0 -0.25"
         parent="Link5_1" child="Link6_1"
         limit_e="100" limit_l="0.0" limit_u="0.3" limit_v="100" />

<xacro:m_link_mesh name="Link6_1" color="Black"
            masa_xyz="-1.462357275260921e-16 -8.215650382226158e-15 -0.10789050337311945"
            origin_rpy="0 0 0" origin_xyz="0.0 -0.965 -1.26"
            mass="1.9701696869512575"
            ixx="0.009725" ixy="0" ixz="0.0"
            iyy="0.009725" iyz="0"
            izz="0.001313"
            meshfile="package://majager_description/meshes/Link6_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Link6_to_Base_Gripper" type="continuous"
         axis_xyz="-0.0 -0.0 -1.0"
         origin_rpy="0 0 0" origin_xyz="0.0 0.0 -0.03"
         parent="Link6_1" child="Base_Gripper_1"
         limit_e="100" limit_v="100" />

<xacro:m_link_mesh name="Base_Gripper_1" color="Black"
              masa_xyz="-1.309810703716444e-16 -8.215650382226158e-15 -0.014382845951966372"
              origin_rpy="0 0 0" origin_xyz="0.0 -0.965 -1.23"
              mass="1.1700579922254057"
              ixx="0.000268" ixy="0" ixz="0"
              iyy="0.003233" iyz="0"
              izz="1"
              meshfile="package://majager_description/meshes/Base_Gripper_1.stl"
              meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_Gripper_to_Gripper_Right" type="prismatic"
         axis_xyz="1.0 -0.0 -0.0"
         origin_rpy="0 0 0" origin_xyz="-0.09 0.0 -0.0225"
         parent="Base_Gripper_1" child="Gripper_Right_1"
         limit_e="100" limit_l="0.0" limit_u="0.065" limit_v="100" />

<xacro:m_link_mesh name="Gripper_Right_1" color="Grey"
            masa_xyz="0.012095808747128123 -2.786659791809143e-14 -0.03856287422397031"
            origin_rpy="0 0 0" origin_xyz="0.09 -0.965 -1.2075"
            mass="0.6554750004678966"
            ixx="0.00044" ixy="-0.0" ixz="3e-05"
            iyy="0.000397" iyz="-0.0"
            izz="0.000125"
            meshfile="package://majager_description/meshes/Gripper_Right_1.stl"
            meshscale="0.001 0.001 0.001" />

<xacro:m_joint name="Base_Gripper_to_Gripper_Left" type="prismatic"
         axis_xyz="-1.0 0.0 0.0"
         origin_rpy="0 0 0" origin_xyz="0.09 0.0 -0.0225"
         parent="Base_Gripper_1" child="Gripper_Left_1"
         limit_e="100" limit_l="0.00" limit_u="0.065" limit_v="100" />

<xacro:m_link_mesh name="Gripper_Left_1" color="Grey"
            masa_xyz="-0.012095808747128373 8.992806499463768e-15 -0.03856287422397009"
            origin_rpy="0 0 0" origin_xyz="-0.09 -0.965 -1.2075"
            mass="0.6554750004678964"
            ixx="0.00044" ixy="0" ixz="-3e-05"
            iyy="0.000397" iyz="0"
            izz="0.000125"
            meshfile="package://majager_description/meshes/Gripper_Left_1.stl"
            meshscale="0.001 0.001 0.001" />

</robot>
